img {
	margin: 50px;
	/* transition: transform;
	transition-duration: 1s;
	transition-timing-function: ease-in; 
	can be written in shorthand. */
	transition: transform 1s ease;
}
img:hover {
    transform: scale(2);
}